<div class="sto-__PLACEHOLDER__-gutter">
    <div class="sto-__PLACEHOLDER__-gutter-left">
        <div class="sto-__PLACEHOLDER__-gutter-top"></div>
    </div>
    <div class="sto-__PLACEHOLDER__-gutter-right">
        <div class="sto-__PLACEHOLDER__-gutter-top"></div>
    </div>
</div>