.container.header-container {
    padding-bottom: 0px;
}

.page-container>.main-content {background-color: #fff;}
.sto-__PLACEHOLDER__-gutter>div{
    position: absolute;
    bottom: 0;
    top: 0;
    height: 2551px;
    overflow: hidden;
}
.sto-__PLACEHOLDER__-gutter>div:after{
    display: block;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    content: "";
}
.sto-__PLACEHOLDER__-gutter-left:after{
    box-shadow: inset -18px 0 30px -20px rgba(50,50,50,.4);
}
.sto-__PLACEHOLDER__-gutter-right:after{
    box-shadow: inset 8px 0 30px -10px rgba(50,50,50,.4);
}
.sto-__PLACEHOLDER__-gutter>div>div{
    position: absolute;
    width: calc(100% + 1px);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.sto-__PLACEHOLDER__-gutter>div>.sto-__PLACEHOLDER__-gutter-top{
    top: 0;
    height: 2551px;
    display: block;
}
.sto-__PLACEHOLDER__-gutter-left>div{
    right: 0;
}
.sto-__PLACEHOLDER__-gutter_right>div{
    left: 0;
}
.sto-__PLACEHOLDER__-gutter-left{
    left: 0;
    right: 622px;
    margin-right: 50%;
    background-color: #fff;
}
.sto-__PLACEHOLDER__-gutter-right{
    left: 622px;
    margin-left: 50%;
    right: 0;
    background-color: #fff;
}

.sto-__PLACEHOLDER__-gutter-left>.sto-__PLACEHOLDER__-gutter-top{
    background-image: url(./../../img/gutter_left.png);
    /*background-position: 1px 0;*/
    background-position: top right;
}
.sto-__PLACEHOLDER__-gutter-right>.sto-__PLACEHOLDER__-gutter-top{
    background-image: url(./../../img/gutter_right.png);
    background-position: -1px 0;
}
@media screen and (min-width: 2070px) {
    .sto-__PLACEHOLDER__-gutter-left>.sto-__PLACEHOLDER__-gutter-top{
        background-position: top right;
    }
    .sto-__PLACEHOLDER__-gutter-right>.sto-__PLACEHOLDER__-gutter-top{
        background-position: top left;
    }
}
