<div class="sto-__PLACEHOLDER__-global" data-v="2019-11-29-v04">
    <a id="link-nuitblanche" href="#" style="cursor: initial"><section class="sto-__PLACEHOLDER__-nuit-blanche"></section></a>
    <section class="sto-__PLACEHOLDER__-home-page">
        <div class="sto-__PLACEHOLDER__-header-wrapper">
            <div class="sto-__PLACEHOLDER__-header">
                <div class="sto-__PLACEHOLDER__-header-slider-prev"></div>
                <div class="sto-__PLACEHOLDER__-header-slider-next"></div>
                <div class="sto-__PLACEHOLDER__-header-slider-mob-prev"></div>
                <div class="sto-__PLACEHOLDER__-header-slider-mob-next"></div>
                <div class="sto-__PLACEHOLDER__-loader"></div>
                <ul class="sto-__PLACEHOLDER__-header-slider-nav">
                    <li class="sto-__PLACEHOLDER__-header-slider-nav-btn sto-header-slide-active" data-ind="1">&nbsp;</li>
                    <li class="sto-__PLACEHOLDER__-header-slider-nav-btn" data-ind="2">&nbsp;</li>
                    <li class="sto-__PLACEHOLDER__-header-slider-nav-btn" data-ind="3">&nbsp;</li>
                    <li class="sto-__PLACEHOLDER__-header-slider-nav-btn" data-ind="4">&nbsp;</li>
                </ul>
                <div class="sto-__PLACEHOLDER__-header-slider">
                    <div class="sto-__PLACEHOLDER__-header-slides-wrapper">
                        <div id="slide-1" class="sto-__PLACEHOLDER__-header-slide sto-header-slide-active" data-ind="1"></div>
                        <div id="slide-2" class="sto-__PLACEHOLDER__-header-slide" data-ind="2"></div>
                        <div id="slide-3" class="sto-__PLACEHOLDER__-header-slide" data-ind="3"></div>
                        <div id="slide-4" class="sto-__PLACEHOLDER__-header-slide" data-ind="4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sto-__PLACEHOLDER__-content-wrapper">
            <div class="sto-__PLACEHOLDER__-content-main-claim">Découvrez nos univers</div>
            <div class="sto-__PLACEHOLDER__-nav">
                <div class="sto-__PLACEHOLDER__-nav-slider">
                    <ul class="sto-__PLACEHOLDER__-nav-slides-wrapper">
                        <a href="#" onclick="dataLayer.push({'nomclicsortant': 'high-tech', 'event': 'blackfriday_clics_autopromo'})" data-cat="hightech"><li class="sto-__PLACEHOLDER__-nav-slider-nav-btn" data-cat="hightech"><span>high-tech</span></li></a>
                        <a href="#" onclick="dataLayer.push({'nomclicsortant': 'jardin-_maison_-_electromenager', 'event': 'blackfriday_clics_autopromo'})" data-cat="maison"><li class="sto-__PLACEHOLDER__-nav-slider-nav-btn" data-cat="maison"><span>jardin, maison &#38; électromenager</span></li></a>
                        <a href="#" onclick="dataLayer.push({'nomclicsortant': 'parapharmacie', 'event': 'blackfriday_clics_autopromo'})" data-cat="parapharmacie"><li class="sto-__PLACEHOLDER__-nav-slider-nav-btn" data-cat="parapharmacie"><span>parapharmacie</span></li></a>
                        <a href="#" onclick="dataLayer.push({'nomclicsortant': 'culture_-_jouets', 'event': 'blackfriday_clics_autopromo'})" data-cat="culture"><li class="sto-__PLACEHOLDER__-nav-slider-nav-btn" data-cat="culture"><span>culture &#38; jouets</span></li></a>
                        <a href="#" onclick="dataLayer.push({'nomclicsortant': 'mode_-_sport', 'event': 'blackfriday_clics_autopromo'})" data-cat="mode"><li class="sto-__PLACEHOLDER__-nav-slider-nav-btn" data-cat="mode"><span>mode &#38; sport</span></li></a>
                        <a href="#" onclick="dataLayer.push({'nomclicsortant': 'vins_-_alcools', 'event': 'blackfriday_clics_autopromo'})" data-cat="vin"><li class="sto-__PLACEHOLDER__-nav-slider-nav-btn" data-cat="vin"><span>vins &#38; alcools</span></li></a>
                        <a href="#" onclick="dataLayer.push({'nomclicsortant': 'voir_tous_les_produits', 'event': 'blackfriday_clics_autopromo'})" data-cat="all"><li class="sto-__PLACEHOLDER__-nav-slider-nav-btn" data-cat="all"><span>voir tous les produits</span></li></a>
                    </ul>
                </div>
            </div>
            <div class="sto-__PLACEHOLDER__-content">
                <div class="sto-__PLACEHOLDER__-mobile-bg-menu"></div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-hightech" data-cat="hightech">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <div class="sto-__PLACEHOLDER__-prods-slider-prev"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider-next"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider">
                            <div class="sto-__PLACEHOLDER__-loader"></div>
                            <div class="sto-__PLACEHOLDER__-prods-slides-wrapper"></div>
                        </div>
                        <div class="sto-__PLACEHOLDER__-content-section-seemore"><span>Voir plus de produits</span></div>
                        <a href="https://www.hightech.leclerc/black-friday-b?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-25-S48-BlackFriday&utm_content=Banniere_boutique_BlackFriday" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_hightech_jusqu-a_-40-_de_remise_immediate_sur_notre_selection_hightech_black_Friday', 'urlsortie': 'https---gti3-hightech-leclerc-dynclick-multimedia-eleclerc-com--ept-publisher-e-leclerc-portail-ept-name-portail-s47-eurl-https-3a-2f-2fwww-hightech-leclerc-2fblack-friday-b-3futm-source-3de-leclerc-portail-26utm-campaign-3ds47-26utm-medium-3dleclerc-26utm-content-3dblackfridayboutique', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-maison" data-cat="maison">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <div class="sto-__PLACEHOLDER__-prods-slider-prev"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider-next"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider">
                            <div class="sto-__PLACEHOLDER__-loader"></div>
                            <div class="sto-__PLACEHOLDER__-prods-slides-wrapper"></div>
                        </div>
                        <div class="sto-__PLACEHOLDER__-content-section-seemore"><span>Voir plus de produits</span></div>
                        <a href="https://www.maisonetloisirs.leclerc/black-friday-maison-loisirs?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-25-S48-BlackFriday&utm_content=BanniereHPM&L" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_maison_jusqu-a_-40-_sur_une_selection_de_produits_maison', 'urlsortie': 'https---www-maisonetloisirs-leclerc-black-friday-maison-loisirs', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-parapharmacie" data-cat="parapharmacie">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <div class="sto-__PLACEHOLDER__-prods-slider-prev"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider-next"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider">
                            <div class="sto-__PLACEHOLDER__-loader"></div>
                            <div class="sto-__PLACEHOLDER__-prods-slides-wrapper"></div>
                        </div>
                        <a id="sto-seemore-parapharmacie" href="#"><div class="sto-__PLACEHOLDER__-content-section-seemore"><span>Voir plus de produits</span></div></a>
                        <a href="https://www.parapharmacie.leclerc/selection/black-friday-parapharmacie?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-25-banniere-black-friday&utm_content=portail" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_parapharmacie_jusqu-a_-40-_de_remise_immediate_sur_notre_selection_parapharmacie_black_Friday', 'urlsortie': 'https---gti3-parapharmacie-leclerc-dynclick-parapharmacie-leclerc--ept-publisher-e-leclerc-portail-ept-name-portail-black-friday-eurl-https-3a-2f-2fwww-parapharmacie-leclerc-2fpromotions-2f-3futm-source-3de-leclerc-portail-26utm-campaign-3dblack-friday-26utm-medium-3dleclerc-26utm-content-3dbanniere', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-culture" data-cat="culture">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <div class="sto-__PLACEHOLDER__-prods-slider-prev"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider-next"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider">
                            <div class="sto-__PLACEHOLDER__-loader"></div>
                            <div class="sto-__PLACEHOLDER__-prods-slides-wrapper"></div>
                        </div>
                        <div class="sto-__PLACEHOLDER__-content-section-seemore"><span>Voir plus de produits</span></div>
                        <a href="https://www.culture.leclerc/black-friday-u?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-25-black-friday&utm_content=banniere-black-friday" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_culture_des_prix_incroyables_sur_notre_selection_culturelle', 'urlsortie': 'http---gti3-culture-leclerc-dynclick-e-leclerc-espace-culturel--ept-publisher-e-leclerc-portail-ept-name-portail-page-dediee-black-friday-eurl-https-3a-2f-2fculture-leclerc-2fblack-friday-u-3futm-source-3de-leclerc-portail-26utm-campaign-3dpage-dediee-black-friday-26utm-medium-3dleclerc-26utm-content-3dhome-black-friday', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-mode" data-cat="mode">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <div class="sto-__PLACEHOLDER__-prods-slider-prev"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider-next"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider">
                            <div class="sto-__PLACEHOLDER__-loader"></div>
                            <div class="sto-__PLACEHOLDER__-prods-slides-wrapper"></div>
                        </div>
                        <div class="sto-__PLACEHOLDER__-content-section-seemore"><span>Voir plus de produits</span></div>
                        <a href="https://www.sport.leclerc/toutes-les-offres?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-06-11-black-friday-sport&utm_content=banniere-portail-black-friday-sport" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_mode_decouvrez_nos_offres_exceptionnelles_sur_notre_selection_black_Friday', 'urlsortie': 'https---gti3-sport-leclerc-dynclick-sport-leclerc--ept-publisher-e-leclerc-portail-ept-name-portail-blackfriday-eurl-https-3a-2f-2fwww-sport-leclerc-2fsportswear-3futm-source-3de-leclerc-portail-26utm-campaign-3dblackfriday-26utm-medium-3dleclerc-26utm-content-3dportailblackfriday', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-vin" data-cat="vin">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <div class="sto-__PLACEHOLDER__-prods-slider-prev"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider-next"></div>
                        <div class="sto-__PLACEHOLDER__-prods-slider">
                            <div class="sto-__PLACEHOLDER__-loader"></div>
                            <div class="sto-__PLACEHOLDER__-prods-slides-wrapper"></div>
                        </div>
                        <div class="sto-__PLACEHOLDER__-content-section-seemore"><span>Voir plus de produits</span></div>
                        <a href="https://www.macave.leclerc/black-week?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-25-black-friday&utm_content=banniere-hp" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_vin_jusqu-a_10-_de_remise_immediate_sur_notre_selection_black_Friday', 'urlsortie': 'https---www-macave-leclerc-black-week-utm-source-e-leclerc-portail-utm-campaign-black-friday-utm-medium-leclerc-utm-content-black-friday-2018-ectrans-1-res-sf-36', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>

                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-photos" data-cat="photos">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <a id="sto-__PLACEHOLDER__-banner-photo-link" href="https://www.photomoinscher.leclerc/?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-28-blackFriday&utm_content=" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_photo_40-_de_reduction_sur_tout_le_site', 'urlsortie': 'http---www-photomoinscher-leclerc--cref-om-coop-blackfriday-750x295-08463-30ttn18', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-voyages" data-cat="voyages">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <a id="sto-__PLACEHOLDER__-banner-photo-link" href="https://www.leclercvoyages.com/search?m_c.MKT=OPN.disney-2019&m_c.desti=FR.IDF.DISNEY&topHotel=false&utm_campaign=Portail&utm_source=Leclerc&utm_medium=CrossLink&utm_term=BlackFriday&utm_content=OPN_Disney2020" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_voyage_offre_disney_finalisee_en_cours_de_reception', 'urlsortie': 'https://www.leclercvoyages.com/search?m_c.MKT=OPN.disney-2019&m_c.desti=FR.IDF.DISNEY&topHotel=false&utm_campaign=Portail&utm_source=Leclerc&utm_medium=CrossLink&utm_term=BlackFriday&utm_content=OPN_Disney2020', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>
                <div class="sto-__PLACEHOLDER__-content-section" id="sto-section-bijoux" data-cat="bijoux">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <a id="sto-__PLACEHOLDER__-banner-photo-link" href="https://www.lemanegeabijoux.com/140-bijoux-black-friday?utm_source=Galec&utm_medium=banner&utm_campaign=black_friday_Galec&utm_content=jachete " onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_bijoux1_manege-a-bijoux-1_-_sur_une_selection_de_bijoux', 'urlsortie': 'https://www.lemanegeabijoux.com/140-bijoux-black-friday?utm_source=Galec&utm_medium=banner&utm_campaign=black_friday_Galec&utm_content=jachete ', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                        <a id="sto-__PLACEHOLDER__-banner-photo-link" href="https://www.lemanegeabijoux.com/115-bijoux-black-friday?utm_source=Galec&utm_medium=banner&utm_campaign=black_friday_25&utm_content=jachete" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_bijoux2_manege-a-bijoux-2_-_sur_toures_les_bagues-_boucles_d-oreilles', 'urlsortie': 'https://www.lemanegeabijoux.com/115-bijoux-black-friday?utm_source=Galec&utm_medium=banner&utm_campaign=black_friday_25&utm_content=jachete', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp-2"></div></a>
                    </div>
                </div>
                <!--<div class="sto-__PLACEHOLDER__-content-section" id="sto-section-auto" data-cat="auto">
                    <div class="sto-__PLACEHOLDER__-content-section-header"></div>
                    <div class="sto-__PLACEHOLDER__-content-section-products">
                        <a id="sto-__PLACEHOLDER__-banner-photo-link" href="https://www.auto.leclerc/pneus-dunlop-b?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-25-black-friday&utm_content=portail-blackfriday" onclick="dataLayer.push({'nomcampagne': 'blackfriday2019', 'nomclicsortant': 'hp_auto_15-_de_remise_immediate_sur_les_pneus_de_la_marque_dunlop', 'urlsortie': 'https://www.auto.leclerc/pneus-dunlop-b?utm_medium=leclerc&utm_source=portail&utm_campaign=2019-11-25-black-friday&utm_content=portail-blackfriday', 'event': 'blackfriday_traffickingexterne_visuels'});" target="_blank"><div class="sto-__PLACEHOLDER__-content-banner-hp"></div></a>
                    </div>
                </div>-->
            </div>
            <div id="sto-back-to-top"> Retour en haut</div>
        </div>
    </section>
    <section class="sto-__PLACEHOLDER__-category-page" category="" style="display: none">
        <div class="sto-category-banner-cta-mob"></div>
        <div class="sto-category-page-banner">
            <div class="sto-category-banner-cta"></div>
        </div>
        <div class="sto-category-page-header"></div>
        <div class="sto-category-page-top">
            <div class="sto-category-page-filters">
                <div class="sto-subcategory-filters">
                    <div class="sto-subcategory-filter-current">
                        <div class="sto-current-subcategory-filter">Toutes les catégories</div>
                    </div>
                    <div class="sto-subcategory-filter-list">
                    </div>
                </div>
                <div class="sto-price-filters">
                    <div class="sto-price-filter-current">
                        <div class="sto-current-price-filter">Prix par ordre croissant</div>
                    </div>
                    <div class="sto-price-filter-list">
                        <div class="sto-category-page-filter-price active" data-sort="ASC">Prix par ordre croissant</div>
                        <div class="sto-category-page-filter-price" data-sort="DESC">Prix par ordre décroissant</div>
                    </div>
                </div>
            </div>
            <div class="sto-pagination-top sto-category-page-pagination"></div>
            <div style="clear:both"></div>
        </div>
        <div class="sto-category-page-products"></div>
        <div class="sto-category-page-mentions">TOUS NOS BIJOUX SONT GARANTIS 2 ANS CONTRE TOUS DÉFAUTS OU VICES CACHÉS, L’UTILISATION ANORMALE OU L’USURE NE SONT PAS INCLUSES DANS LA GARANTIE. Bijoux agrandis de 1 à 2,2 fois. Prix valables du <span>20/11/2018 au 24/11/2018</span>.
            Prix variables suivant le poids, le cours de l’or, le prix et le poids des pierres précieuses. Poids métal pouvant varier en raison du caractère artisanal de la fabrication. Prix de vente indicatif maximum pour chaque dimension indiquée.
            Pour tout achat d’une bague en or, la 1ère mise à taille est gratuite dans tous les espaces «Le Manège à Bijoux » (selon modèles) jusqu’à une différence de 3 tailles (en agrandissement ou en réduction) dans un délai de 6 mois à compter
            de la date d’achat. RCS 339 160 848 - Photos non contractuelles. Les offres de cette page sont disponibles dans tous les magasins disposant d’un espace « Le Manège à Bijoux » et participant à l’opération. Dans la limite des stocks
            disponibles.</div>
        <div class="sto-category-page-bottom">
            <div class="sto-pagination-bottom sto-category-page-pagination"></div>
        </div>
    </section>
    <div class="sto-__PLACEHOLDER__-storage" style="display: none">
        <div id="sto-prod-storage-hightech"></div>
        <div id="sto-prod-storage-maison"></div>
        <div id="sto-prod-storage-culture"></div>
        <div id="sto-prod-storage-parapharmacie"></div>
        <div id="sto-prod-storage-mode"></div>
        <div id="sto-prod-storage-vin"></div>
        <div id="sto-prod-storage-alimentaire"></div>
        <div id="sto-prod-storage-bijoux"></div>
        <div id="sto-prod-storage-slider"></div>
    </div>
    <div id="sto-mention-legal">
        L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. À CONSOMMER AVEC MODÉRATION. LA LOI INTERDIT LA VENTE D'ALCOOL AUX MINEURS. DES CONTRÔLES SERONT RÉALISÉS EN CAISSE
    </div>
    <div id="return-to-top">
        <div class="icon-arrow-down"></div>
    </div>
</div>
