<div class="box-item box-item-rayon" data-id="" data-prod-ind="1" style="display: block;">
   <div class="box-item-top">
      <div class="item-illustration">
         <a href="">
            <img alt="" class="img-responsive" src="http://via.placeholder.com/198x130">
         </a>
      </div>

      <div class="pricer">
         <!--<img alt="" src="http://e-leclerc.scene7.com/is/image/gtinternet/charte prix octobre 2016?$vedette_off=1&amp;$bri_off=0&amp;$tel_off=1&amp;$prix=1,88&amp;$Texte_haut=&amp;$tel=&amp;$unite_tel=&amp;$prixbase=2,68&amp;$prixbase_off=0&amp;$barre_off=1&amp;$bri=30&amp;$unite_bri=\u0037?&amp;qlt=100&amp;$meca-promo-inactif$">-->
         <div class="sto-final-price"></div>
         <div class="sto-scratched-price"></div>


      </div>

   </div>

   <div class="content" ng-controller="ListeCoursesFragmentMEAProduitController" ng-init="">
        <div class="box-item-title">
            <a href="">CÉRÉALES “CRUESLI DE QUAKER”</a>
        </div>

      <input ng-value="quantite" type="hidden">

      <!--<button class="btn btn-memo" data-forcelayer="true" data-idproduit="908700730" data-taggage-nointerp="'xt_click§C§ajout-liste::110100000|cereales--cruesli-de-quaker-::'+quantite+'::clic§A'" data-typelayer="popinFiltreProduitOP" id="btn-ajout-liste" ng-click="valider($event)" data-hiddenhref="/home-magasin" data-hiddenhrefautre="/home-magasin">
         <span class="btn-memo__picto"></span> <span class="btn-memo__text">Mémo Courses</span>
      </button>-->
      <button class="sto-btn-jachete" data-href="">j'achète</button>
    </div>
</div>
